# Infra Config
SUPABASE_URL=https://aosqvhaqouokqdxbusat.supabase.co
SUPABASE_KEY=sb_publishable_viZ2Ju-zesdtU2ke30ooeg_viSs7kHV
# E2E Testing Config
E2E_BASE_URL=http://localhost:3000
E2E_USERNAME=barnes
E2E_PASSWORD=password
E2E_HEADLESS=0